<a href="https://colab.research.google.com/github/kirtiman-JP/Python_journy-2026/blob/main/day4_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TypeCasting**

**Explict Type casting**

In [4]:
string = "15"
number = 7
string_number = int(string)
sum = number + string_number
print("The sum of both number is: ", sum)

The sum of both number is:  22

**Implict Type casting**

In [7]:
a=7
print("The type value of a is:",type(a))
b=3.0
print("The type value of b is:",type(b))
c=a+b
print("The type value of c is:", type(c))
print(c)

The type value of a is: <class 'int'>
The type value of b is: <class 'float'>
The type value of c is: <class 'float'>
10.0

In [10]:
print(float("1.5"))
print(int(True), int(False))

1.5
1 0

In [20]:
age = 25
age=str(age)
print("I am\t"+ str(age))

I am	25

In [18]:
#Simulated user input
user_input_1 = "10"
user_input_2="20"
#Explict type casting
val1=int(user_input_1)
val2=int(user_input_2)
print(f"Total: {val1 + val2}")

Total: 30

**F string (Formatted string)**

In [22]:
server="az-01"
cores=8
print(f"The server is\t{server} and the core is\t{cores}")

The server is	az-01 and the core is	8

In [23]:
price=100
tax=0.18
print(f"Total Price with Tax: {price+(price*tax)}")

Total Price with Tax: 118.0

In [28]:
stored_value="500.50"
#try to convert it directly to int()  it will crash
#practice the "double cast":
final_value=(float(stored_value))
print(f"the rounded value is: {final_value}")
print(f"the decimal value is: {int(final_value)}")

the rounded value is: 500.5
the decimal value is: 500

**Exercise**

In [29]:
#Raw data from from "Azzure database"
cpu_cost="400.55"
ram_cost="300.53"
#cleaning data (Type casting)
cpu=(float(cpu_cost))
ram=(float(ram_cost))
total=cpu+ram
#The professional report (Triple Quotes + f string)
print(f"""
------------ BILLING INVOICE
------------
Server ID: AZ_PROD_99)
CPU Cost: ${cpu}
RAM Cost: ${ram}
---------------------------------
Total Due: ${total}
---------------------------------
""")

------------ BILLING INVOICE
------------
Server ID: AZ_PROD_99)
CPU Cost: $400.55
RAM Cost: $300.53
---------------------------------
Total Due: $701.0799999999999
---------------------------------