<a href="https://colab.research.google.com/github/kirtiman-JP/Python_journy-2026/blob/main/day6_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Strings, Accessing characters of strings, looping through the string***

In [5]:
name="Kirtiman"
print("Hello",  name)

Hello Kirtiman

In [9]:
print('He said "I want t eat an apple."')
print("He said \"I want t eat an apple.\"")
apple = "He said \"I want to eat an apple.\""
print(apple)

He said "I want t eat an apple."
He said "I want t eat an apple."
He said "I want to eat an apple."

In [16]:
a='''So this is clled an multi line, string.
In this all we need to do is put single or
double quotes three times.
and we wont be thrown error if we break line like this and type.
'''
print(a)

So this is clled an multi line, string.
In this all we need to do is put single or
double quotes three times.
and we wont be thrown error if we break line like this and type.

In [14]:
print(name[0])
print(name[3])
print(name[5])
print(name[4])

K
t
m
i

In [17]:
for character in name:
  print(character)
for character in a:
  print(character)
for character in apple:
  print(character)

K
i
r
t
i
m
a
n
S
o

t
h
i
s

i
s

c
l
l
e
d

a
n

m
u
l
t
i

l
i
n
e
,

s
t
r
i
n
g
.


I
n

t
h
i
s

a
l
l

w
e

n
e
e
d

t
o

d
o

i
s

p
u
t

s
i
n
g
l
e

o
r


d
o
u
b
l
e

q
u
o
t
e
s

t
h
r
e
e

t
i
m
e
s
.


a
n
d

w
e

w
o
n
t

b
e

t
h
r
o
w
n

e
r
r
o
r

i
f

w
e

b
r
e
a
k

l
i
n
e

l
i
k
e

t
h
i
s

a
n
d

t
y
p
e
.


H
e

s
a
i
d

"
I

w
a
n
t

t
o

e
a
t

a
n

a
p
p
l
e
.
"